@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700&subset=latin,cyrillic);
#dropdown-menu-0 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-0 .navbar-brand a {
  font-size: 30px;
}
#dropdown-menu-0 .nav .link,
#dropdown-menu-0 .dropdown-item {
  font-size: 1.4em;
  color: #000000;
}
#dropdown-menu-0 .navbar,
#dropdown-menu-0 .dropdown-menu {
  background: #fff8e0;
}
#dropdown-menu-0 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-0 .dropdown-menu a:hover,
#dropdown-menu-0 .dropdown-menu a:focus {
  background: #fff3cc;
}
#dropdown-menu-0 .navbar-toggler {
  color: #000000;
}
#header4-1 P {
  color: #ffffff;
}
#header4-1 I {
  color: #0275d8;
}
#msg-box4-b small {
  font-size: 24px;
}
#contacts1-d DIV {
  color: #fff8e0;
}

#msg-box4-r small {
  font-size: 20px;
  color: #fff8e0;
}
#msg-box4-r .lead {
  color: #0275d8;
}
#msg-box4-r .mbr-section-title {
  font-family: 'Playfair Display', sans-serif;
}
#msg-box4-r small B {
  color: #d9534f;
}
#content5-w P {
  font-size: 20px;
}
#content5-w DIV {
  font-size: 20px;
}
#dropdown-menu-f .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-f .navbar-brand a {
  font-size: 30px;
}
#dropdown-menu-f .nav .link,
#dropdown-menu-f .dropdown-item {
  font-size: 1.4em;
  color: #000000;
}
#dropdown-menu-f .navbar,
#dropdown-menu-f .dropdown-menu {
  background: #fff8e0;
}
#dropdown-menu-f .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-f .dropdown-menu a:hover,
#dropdown-menu-f .dropdown-menu a:focus {
  background: #fff3cc;
}
#dropdown-menu-f .navbar-toggler {
  color: #000000;
}
#msg-box4-n small {
  font-size: 24px;
}
#contacts1-p DIV {
  color: #fff8e0;
}
