@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);


#header1-12 H1 {
  font-size: 36px;
}
#form2-b .mbr-header__text {
  color: #ffffff;
}
#msg-box3-1b .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-1b .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #ffffff;
  font-size: 18px;
}
#msg-box3-1b .mbr-article {
  color: #ffffff;
}
#msg-box3-1c .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-1c .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #ffffff;
  font-size: 18px;
}
#msg-box3-1c .mbr-article {
  color: #ffffff;
}
#msg-box3-1n .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-1n .mbr-header .mbr-header__subtext {
  text-align: center;
  font-size: 18px;
  color: #ffffff;
}
#msg-box3-1n .mbr-article {
  color: #ffffff;
}
#dropdown-menu-1 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1 .navbar-brand a {
  font-size: 24px;
}
#dropdown-menu-1 .nav .link,
#dropdown-menu-1 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#dropdown-menu-1 .navbar,
#dropdown-menu-1 .dropdown-menu {
  background: #27aae0;
}
#dropdown-menu-1 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1 .dropdown-menu a:hover,
#dropdown-menu-1 .dropdown-menu a:focus {
  background: #1e9fd4;
}
#dropdown-menu-1 .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-1 .btn {
  font-family: 'Oswald', sans-serif;
}
#footer1-7 P {
  color: #ffffff;
}
#msg-box4-h .mbr-header__text {
  color: #475577;
}
#msg-box4-h .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-h .mbr-article {
  color: #ffffff;
}
#msg-box4-h .mbr-article P {
  color: #4c6972;
}
#msg-box4-h .mbr-article DIV {
  color: #4c6972;
}
#social-buttons2-c .mbr-header__text {
  color: #475577;
}
#contacts1-13 STRONG {
  font-size: 21px;
}
#contacts1-13 P {
  color: #ffffff;
}
#social-buttons1-d .mbr-header__text {
  font-size: 25px;
  color: #ffffff;
}


#msg-box4-k .mbr-header__text {
  color: #ffffff;
}
#msg-box4-k .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-k .mbr-article {
  color: #ffffff;
}
#social-buttons1-n .mbr-header__text {
  font-size: 25px;
}
#footer1-o P {
  color: #ffffff;
}
#msg-box4-p .mbr-header__text {
  color: #475577;
}
#msg-box4-p .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-p .mbr-article {
  color: #ffffff;
}
#msg-box4-p .mbr-article P {
  color: #4c6972;
}
#msg-box4-p .mbr-article DIV {
  color: #4c6972;
}
#dropdown-menu-t .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-t .navbar-brand a {
  font-size: 24px;
}
#dropdown-menu-t .nav .link,
#dropdown-menu-t .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#dropdown-menu-t .navbar,
#dropdown-menu-t .dropdown-menu {
  background: #27aae0;
}
#dropdown-menu-t .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-t .dropdown-menu a:hover,
#dropdown-menu-t .dropdown-menu a:focus {
  background: #1e9fd4;
}
#dropdown-menu-t .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-t .btn {
  font-family: 'Oswald', sans-serif;
}


#dropdown-menu-t .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-t .navbar-brand a {
  font-size: 24px;
}
#dropdown-menu-t .nav .link,
#dropdown-menu-t .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#dropdown-menu-t .navbar,
#dropdown-menu-t .dropdown-menu {
  background: #27aae0;
}
#dropdown-menu-t .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-t .dropdown-menu a:hover,
#dropdown-menu-t .dropdown-menu a:focus {
  background: #1e9fd4;
}
#dropdown-menu-t .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-t .btn {
  font-family: 'Oswald', sans-serif;
}
#msg-box4-u .mbr-header__text {
  color: #ffffff;
}
#msg-box4-u .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-u .mbr-article {
  color: #ffffff;
}
#social-buttons1-x .mbr-header__text {
  font-size: 25px;
}
#footer1-y P {
  color: #ffffff;
}
#msg-box4-z .mbr-header__text {
  color: #475577;
}
#msg-box4-z .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-z .mbr-article {
  color: #ffffff;
}
#msg-box4-z .mbr-article P {
  color: #4c6972;
}
#msg-box4-z .mbr-article DIV {
  color: #4c6972;
}


#dropdown-menu-1e .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1e .navbar-brand a {
  font-size: 24px;
}
#dropdown-menu-1e .nav .link,
#dropdown-menu-1e .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#dropdown-menu-1e .navbar,
#dropdown-menu-1e .dropdown-menu {
  background: #27aae0;
}
#dropdown-menu-1e .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1e .dropdown-menu a:hover,
#dropdown-menu-1e .dropdown-menu a:focus {
  background: #1e9fd4;
}
#dropdown-menu-1e .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-1e .btn {
  font-family: 'Oswald', sans-serif;
}
#msg-box4-1f .mbr-header__text {
  color: #ffffff;
}
#msg-box4-1f .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1f .mbr-article {
  color: #ffffff;
}
#social-buttons1-1i .mbr-header__text {
  font-size: 25px;
}
#footer1-1j P {
  color: #ffffff;
}
#msg-box4-1k .mbr-header__text {
  color: #475577;
}
#msg-box4-1k .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1k .mbr-article {
  color: #ffffff;
}
#msg-box4-1k .mbr-article P {
  color: #4c6972;
}
#msg-box4-1k .mbr-article DIV {
  color: #4c6972;
}
