@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);

#dropdown-menu-1 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1 .navbar-brand a {
  font-size: 24px;
}
#dropdown-menu-1 .nav .link,
#dropdown-menu-1 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
}
#dropdown-menu-1 .navbar,
#dropdown-menu-1 .dropdown-menu {
  background: #27aae0;
}
#dropdown-menu-1 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1 .dropdown-menu a:hover,
#dropdown-menu-1 .dropdown-menu a:focus {
  background: #1e9fd4;
}
#dropdown-menu-1 .navbar-toggler {
  color: #ffffff;
}
#msg-box4-2 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-2 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2 .mbr-article {
  color: #ffffff;
}
#social-buttons1-d .mbr-header__text {
  font-size: 25px;
}
#footer1-7 P {
  color: #ffffff;
}
#msg-box4-h .mbr-header__text {
  color: #ffffff;
}
#msg-box4-h .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-h .mbr-article {
  color: #ffffff;
}

#dropdown-menu-j .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-j .navbar-brand a {
  font-size: 24px;
}
#dropdown-menu-j .nav .link,
#dropdown-menu-j .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
}
#dropdown-menu-j .navbar,
#dropdown-menu-j .dropdown-menu {
  background: #27aae0;
}
#dropdown-menu-j .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-j .dropdown-menu a:hover,
#dropdown-menu-j .dropdown-menu a:focus {
  background: #1e9fd4;
}
#dropdown-menu-j .navbar-toggler {
  color: #ffffff;
}
#msg-box4-k .mbr-header__text {
  color: #ffffff;
}
#msg-box4-k .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-k .mbr-article {
  color: #ffffff;
}
#social-buttons1-n .mbr-header__text {
  font-size: 25px;
}
#footer1-o P {
  color: #ffffff;
}
#msg-box4-p .mbr-header__text {
  color: #ffffff;
}
#msg-box4-p .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-p .mbr-article {
  color: #ffffff;
}

#dropdown-menu-t .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-t .navbar-brand a {
  font-size: 24px;
}
#dropdown-menu-t .nav .link,
#dropdown-menu-t .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
}
#dropdown-menu-t .navbar,
#dropdown-menu-t .dropdown-menu {
  background: #27aae0;
}
#dropdown-menu-t .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-t .dropdown-menu a:hover,
#dropdown-menu-t .dropdown-menu a:focus {
  background: #1e9fd4;
}
#dropdown-menu-t .navbar-toggler {
  color: #ffffff;
}
#msg-box4-u .mbr-header__text {
  color: #ffffff;
}
#msg-box4-u .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-u .mbr-article {
  color: #ffffff;
}
#social-buttons1-x .mbr-header__text {
  font-size: 25px;
}
#footer1-y P {
  color: #ffffff;
}
#msg-box4-z .mbr-header__text {
  color: #ffffff;
}
#msg-box4-z .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-z .mbr-article {
  color: #ffffff;
}
